* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Tahoma';
}

.logo {
    text-align: center;
    padding: 30px 0;
}

.img-logo {
    width: 180px;
}

.banner, .imovel, .servicos, .corretores, .contato {
    padding: 30px 0;
    text-align: center;
}

.logo-p, .imovel-p, .servicos-p, .corretores-p, .contrato-p {
    margin: 10px auto;
}

.imovel-p {
    width: 980px;
    text-align: justify;
}

